body {
   margin: 0;
    color: white;
    background-color:  bg-dark;
    min-width: 350px;
    
}
.btn-custom {
    background-color: #E6007E;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #C4006E;
}



.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
}
.cont-izquierdo{
    padding-top: 20px ;
    padding-left: 40px;
    background: radial-gradient(circle at 80% 20%, #111, #551A3B);
    background-size: 150% 150%;
    background-repeat: no-repeat;
   
}

.img-fluid {
    max-width: 100%;
    height: auto;
    position: relative; 
    left: -50px;
    transform: translateX(-40px); 
}

.img-moto {
    max-width: 100%;
    height: auto;

}
.cont-vehiculo{
    padding: 40px;
    height: auto;
}
.titulo-con-moto{
    font-size: 30px;
    color: #E6007E;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.titulo-con-moto button{
    background-color: #E6007E;
    color: white;
    border-radius: 10px;
    
}
.pie-pagina {
    background-color: #222;
    padding: 15px;
    text-align: center;
}
